.top
  .top__pickup
    最新の人気ブログニュース
    .top__pickup__continue
      もっとみる >
  .top__news
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        美味しいコーヒー見つけました
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        いぬの気持ち
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        THE 転職
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        after コロナ  with コロナ
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        エンジニアの道に進んで.....
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        お家時間が増えた結果.....
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        THE 転職
    .top__news__blog
      .top__news__blog__image
      .top__news__blog__title
        after コロナ  with コロナ
  .top__ranking
    .top__ranking__title
      ブログランキング
    .top__ranking__title-general
      総合
      .top__ranking__title-general__continue
        もっとみる >
    .top__ranking__general
      .top__ranking__general__info
        .top__ranking__general__info__rank
          1位
        .top__ranking__general__info__image
        .top__ranking__general__info__bloger
          aaaaa
      .top__ranking__general__info
        .top__ranking__general__info__rank
          2位
        .top__ranking__general__info__image
        .top__ranking__general__info__bloger
          bbbbb
      .top__ranking__general__info
        .top__ranking__general__info__rank
          3位
        .top__ranking__general__info__image
        .top__ranking__general__info__bloger
          ccccc
      .top__ranking__general__info
        .top__ranking__general__info__rank
          4位
        .top__ranking__general__info__image
        .top__ranking__general__info__bloger
          ddddd
      .top__ranking__general__info
        .top__ranking__general__info__rank
          5位
        .top__ranking__general__info__image
        .top__ranking__general__info__bloger
          eeeee
    .top__ranking__title-rookie
      急上昇
    .top__ranking__rookie
      .top__ranking__rookie__info
        .top__ranking__rookie__info__rank
        .top__ranking__rookie__info__image
        .top__ranking__rookie__info__bloger
      .top__ranking__rookie__info
        .top__ranking__rookie__info__rank
        .top__ranking__rookie__info__image
        .top__ranking__rookie__info__bloger
      .top__ranking__rookie__info
        .top__ranking__rookie__info__rank
        .top__ranking__rookie__info__image
        .top__ranking__rookie__info__bloger
      .top__ranking__rookie__info
        .top__ranking__rookie__info__rank
        .top__ranking__rookie__info__image
        .top__ranking__rookie__info__bloger
      .top__ranking__rookie__info
        .top__ranking__rookie__info__rank
        .top__ranking__rookie__info__image
        .top__ranking__rookie__info__bloger